.purchase-date{
    display: flex;
    flex-direction: column;
    width: 88px;
    height: 88px;
    border:1px solid #ececec;
    background-color: #0a0a0a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.purchase-date_month {
    font-size: 12px;
    font-weight: solid;
}

.purchase-date_year {
    font-size: 12px;
}
.purchase-date_day {
    font-size: 24px;
    font-weight: solid;
}
